@import "tailwindcss";

:root {
    --white: #fafafa;
    --black: #2f2f2f;
    --shade-black: #0f01019e;
    --green: #9acd32;
    --blue: #3978ff;
    --gray: #cccccc;
    --aqua: aqua;
    --tomato: #ff813d;
    --pink: #ff4cff;
}

.font-p {
    font-family: "Sriracha", cursive;
    font-weight: 400;
}

body {
    background-color: var(--black);
    color: var(--white);
}

::-webkit-scrollbar {
    width: 12px;
    /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--white);
    /* color of the handle */
}